<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089834042923-ejd1vqmchih7m3vvlnr77c7rf4m2o1h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089834042923-ejd1vqmchih7m3vvlnr77c7rf4m2o1h4</string>
	<key>API_KEY</key>
	<string>AIzaSyCjjQ-IAovGY8gDAkEIJ7_YGcC57kq9kX0</string>
	<key>GCM_SENDER_ID</key>
	<string>1089834042923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mile.customer</string>
	<key>PROJECT_ID</key>
	<string>miles-b6fcd</string>
	<key>STORAGE_BUCKET</key>
	<string>miles-b6fcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089834042923:ios:55fd5e87c6aaf21efb4c6e</string>
</dict>
</plist>