<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzJvoEu7EeF0lBrquiaua7tX0EMGC1uNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>581288455500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mileapp.customer</string>
	<key>PROJECT_ID</key>
	<string>mile-e1045</string>
	<key>STORAGE_BUCKET</key>
	<string>mile-e1045.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581288455500:ios:d121c21d1feeb10c07f3e9</string>
</dict>
</plist>